/src/obj
/src/ProjectSettings
/src/Assembly-CSharp.csproj
/src/Assembly-CSharp-Editor.csproj
/src/Assembly-CSharp-Editor-vs.csproj
/src/Assembly-CSharp-vs.csproj
/src/src.sln
/src/src-csharp.sln
/src/src-csharp.v12.suo
/src/Library
